AZURE_SUBSCRIPTION_ID=<your-azure-subscription-id>
AZURE_LOCATION=<your-azure-location>
AZURE_RESOURCE_GROUP=<your-azure-resource-group>
AZURE_DEPLOYMENT_NAME=<your-azure-deployment-name>
AZURE_VNET_NAME=<your-azure-vnet-name>
AZURE_VNET_PREFIX=<your-azure-vnet-prefix>
AZURE_PUBLIC_SUBNET_NAME=<your-azure-public-subnet-name>
AZURE_PUBLIC_SUBNET_PREFIX=<your-azure-public-subnet-prefix>
AZURE_PRIVATE_SUBNET_NAME=<your-azure-private-subnet-name>
AZURE_PRIVATE_SUBNET_PREFIX=<your-azure-private-subnet-prefix>
DATABRICKS_WORKSPACE_NAME=<your-databricks-workspace-name>